/**
 * @file
 * Content wide region layout.
 */

@import "../base/variables.pcss.css";

.path-resources .region--content-wide {
  display: flex;
  flex-direction: column;

  @media (--lg) {
    display: flex;
    flex-direction: row;
    gap: var(--grid-gap--md);

    & > * {
      flex-basis: calc(50% - (var(--grid-gap--md) / 2));
      flex-shrink: 1;
    }
  }

  @media (--lg) {
    & > * {
      flex-basis: calc(25% - (var(--grid-gap--md) * 0.667));

      &:nth-child(4n),
      &:last-child {
        margin-inline-end: 0;
      }
    }
  }

  & > * {
    margin-block-end: var(--sp);
  
    @media (--md) {
      margin-block-end: var(--sp1);
    }
  
    /* @media (--lg) {
      margin-block-end: var(--sp2);
    } */
  }
}

.path-resources .region--content-wide .block {
  @media (--lg) {
    display: flex;
    justify-content: end;
  }
}

/* centres images in the layout__region */
.region--content-wide img {
  margin: auto;
}

.path-resources .region--content-wide .views-exposed-form > div:first-child, .path-resources .region--content-wide .block-facets > div:first-child {
  width: 90%;
}