/**
 * @file
 * Styles for views.
 */

@import '../base/variables.pcss.css';

.view {
  & > * {
    margin-block-end: var(--sp2);

    &:last-child {
      margin-block-end: 0;
    }

    @media (--md) {
      margin-block-end: var(--sp3);
    }
  }
}

.views-view-grid__item {
  display: flex;
  margin-bottom: 2%;
}

.views-view-grid__item-inner {
  display: flex;
}

/* People views */

.view-team img {
  border-radius: 50%;
  margin-right: var(--sp2);
}

.view-team h3 {
  margin-bottom: var(--sp2);
  margin-top: var(--sp1);
}

.view-team .views-view-responsive-grid__item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color--gray-70);
  border-radius: var(--border-radius);
  padding: var(--sp1);
  height: 100%;
  align-items: flex-start;

  @media (--md) {
    flex-direction: row;
  }
}

.views-view-responsive-grid,
.block-views-blockcontent-recent-block-4 {
  margin-block-end: var(--sp4);
}

#block-redaa-views-block-demo-projects-block-3-2 {
  .view > * {
  margin-bottom: var(--sp1);
  }
  margin-bottom: 0;
}
.view-demo-projects {
  .map-footer {
    width: 100%;
  }
  .map-key {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    & > div {
      display: inline-flex;
      flex-direction: row;
      padding: 0 1rem;
      line-height: 2rem;
      align-items: center;
    }
    strong {
      align-self: center;
    }
    img {
      width: 20px;
      vertical-align: middle;
      margin-right: 5px;
    }
    div.marker-cluster {
      width: 20px;
      background: none;
      margin-right: 20px;
      vertical-align: middle;
    }
  }
}