/**
 * @file
 * Block styling.
 */

@import "../base/variables.pcss.css";

.block__title {
  margin-block: 0 var(--sp);
  letter-spacing: 0.02em;
  color: var(--color--gray-20);
  font-size: var(--font-size-s);
  line-height: var(--sp);
}

.path-frontpage h2.block__title {
  color: var(--color--red);
  font-size: 24px;
  line-height: var(--sp2);
}

.site-footer .block__title {
  color: var(--color--gray-50);
}
