/**
 * @file
 * Visual styles for fields.
 */

@import "../base/variables.pcss.css";

.field:not(:last-child) {
  margin-block-end: var(--sp2);
}

.node--view-mode-teaser .field {
  margin-block-end: var(--sp);

  &:last-child {
    margin-block-end: 0;
  }

  @media (--lg) {
    margin-block-end: var(--sp2);
  }
}

.field__label {
  font-weight: bold;
}

.field--label-inline .field__label,
.field--label-inline .field__items {
  float: inline-start;
}

.field--label-inline .field__label,
.field--label-inline > .field__item,
.field--label-inline .field__items {
  padding-inline-end: 0.5em;
}

.field--label-inline .field__label::after {
  content: ":";
}

.text-content.field--name-field-image-caption {
  margin-top: calc(var(--sp2) * -1);
  color: var(--color--gray-30);
  font-size: var(--font-size-s);
}

.text-content.field--name-field-standfirst {
  font-size: var(--font-size-xl);
}

.field--name-thumbnail img, 
.media--view-mode-thumbnail .field--name-field-media-image img,
.media--view-mode-embedded .field--name-field-media-image img {
  border: solid 1px var(--color--gray-80);
}

.field--name-field-media-oembed-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.media-oembed-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.item-with-comma::after {
  content: ", ";
}


  .flow-left {
    @media (min-width: 1200px) {
    margin-left: -12em;
    height: 0;
    }
    a {
      text-decoration: none;
    }
  }