/**
 * @file
 * Misc css classes.
 */

 @import "../base/variables.pcss.css";

 .image-list li {
  list-style-image: url("/themes/redaa/images/leaf.png");
  & > ul li {
    list-style-image: url("/themes/redaa/images/waves.png");
  }
 }

 .node--view-mode-card a {
  height: 100%;
  display: table;
  text-decoration: none;
  & h3, & p {
    color: var(--color--blue-20);
    padding: 0 .6rem;
    margin: 1rem 0;
  }
  & .field--name-field-subtype, .meta {
    color: var(--color--gray-20);
    padding: 0 .6rem;
    margin: 1rem 0 0;
  }
 }

 .node--view-mode-card a div:hover, 
 .node--view-mode-card a div:focus {
    background-color: var(--color--gray-70);
    & h3, & p, & div {
      color: black;
    }
}
