/**
 * @file
 * Page title.
 */

@import "../base/variables.pcss.css";

.page-title {
  /*
    Necessary to properly display the star icon from core's shortcut
    module.
  */
  display: inline;
}

.gradient-text { 
position: relative;
}

.gradient-text::after { 
  content: ""; 
  position: absolute; 
  left: 0; 
  bottom: -5px; 
  width: 100%; 
  height: 6px;
  border-radius: 12px;
  background: linear-gradient(to right, #7F9A29, #F4BB37); 
}

  @media (--md) {
    .gradient-text ~ p {
      margin-top: 3rem !important;
  }
}